<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<p>API Demo:</p>

<ul>
    <li><a href="/docsgenerator-json">GET persons from docsgenerator.json</a></li>
    <li><a href="/docsgenerator/install">create MySQL persons TABLE</a></li>
    <li><a href="/docsgenerator/populate">populate MySQL persons TABLE with default test persons</a></li>
    <li><a href="/docsgenerator">GET persons from MySQL</a></li>
</ul>